body{
	padding-top: 50px;
	background-color: #696969;
	color: #fff;
}
table {
    text-align: center;
}
a{
	color: #5BC0DE;
	font-weight: bold;
}
a:hover{
	color: red;
}
.btn {
    width: 68px;
    margin-left: 20px;
}

.main{
	padding-top: -50px;
}

.nav-sidebar{
	margin-top: 20px;
	font-size: 17px;

}

.nav-sidebar li{
	height: 40px;
	text-align: center;
}