*{
	margin: 0;
	padding: 0;
}
a{
	color: #fff;
}
a:hover{
	color:yellow;
}
a:active{
	color: red;
}
.head{
	height: 60px;
	background-color: #2a2c2e;
	
	text-align: center;
}
.head h3{
	color: #fff;
	font-size: 20px;
	margin: 10px;
	padding: 15px;
}

.menu{
	float: left;
	width: 200px;
	height: 700px;
	background-color: #505254;
	border-right: 1px solid blue;
}
.title{
	height: 40px;
	width: 100%;
	background-color: #ccc;
	line-height: 40px;

	font-size: 18px;
}
.content .menu .list-unstyled{
	text-align: center;
	font-size: 17px;
	color: #FFF;
	margin-top: 10px;
}

.content .menu .list-unstyled li{
	margin: 5px;
}
.cont{
	position: absolute;
	margin-left: 200px;
	width: 100%;
	float: left;

}
iframe{
	width: 80%;
	height: 700px;
	border: 0;
	
}
